In [4]:
for var in range(5):
    print(var)

0
1
2
3
4

In [5]:
var

4

In [31]:
for var in range(1,6):
    print(var)

1
2
3
4
5

In [32]:
for even in range(0,11,2):
    print(even)

0
2
4
6
8
10

In [33]:
for odd in range(1,10,2):
    print(odd)

1
3
5
7
9

In [12]:
for var in range(5):
    print(var)
    print('Umer')
    print('Hello Python')
    
print('\nFor loop ends now')

0
Umer
Hello Python
1
Umer
Hello Python
2
Umer
Hello Python
3
Umer
Hello Python
4
Umer
Hello Python

For loop ends now

In [13]:
countries=['Pakistan','India','China','Turkey','Japan']

In [15]:
print(countries[0])
print(countries[1])
print(countries[2])
print(countries[3])
print(countries[4])

Pakistan
India
China
Turkey
Japan

In [17]:
for index in range(len(countries)):
    print(countries[index])

Pakistan
India
China
Turkey
Japan

In [20]:
for country in countries:
    print(country)

Pakistan
India
China
Turkey
Japan

In [19]:
countries

['Pakistan', 'India', 'China', 'Turkey', 'Japan']

In [23]:
vehicles=list()

In [24]:
vehicles

[]

In [25]:
no_veh=int(input('How many vehicles do you want to enter? '))

How many vehicles do you want to enter? 5

In [26]:
for i in range(no_veh):
    item=input('Enter vehicles: ')
    vehicles.append(item)

Enter vehicles: car
Enter vehicles: bike
Enter vehicles: bus
Enter vehicles: cycle
Enter vehicles: jeep

In [27]:
vehicles

['car', 'bike', 'bus', 'cycle', 'jeep']

In [28]:
for vehicle in vehicles:
    print(vehicle)

car
bike
bus
cycle
jeep

In [29]:
str1='Education world'
for i in str1:
    print(i)

E
d
u
c
a
t
i
o
n

w
o
r
l
d

In [30]:
str2=''