In [7]:
for i in range(5):
    print('\n',i)
    for j in ['a','c','d']:
        print(j)

 0
a
c
d

 1
a
c
d

 2
a
c
d

 3
a
c
d

 4
a
c
d

In [8]:
x=[1,2,3]
y=[4,5,6]
z=[7,8,9]

a_list=[x,y,z]
print(a_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [9]:
for outer in a_list:
    for i in outer:
        print(i)

1
2
3
4
5
6
7
8
9

In [12]:
for i in range(2,6):
    print('Table of: ',i)
    for j in range(1,11):
        print(i,'*',j,'=',i*j)
    print('\n')

Table of:  2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


Table of:  3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


Table of:  4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


Table of:  5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50