# String

In [1]:
name='Albert Einstein'
print(name,'is a great scientist')

Albert Einstein is a great scientist

In [2]:
month='April'
year=2020
print(month,year)

April 2020

In [3]:
name

'Albert Einstein'

In [4]:
name.upper()

'ALBERT EINSTEIN'

In [5]:
name

'Albert Einstein'

In [6]:
name=name.upper()

In [7]:
name

'ALBERT EINSTEIN'

In [8]:
name.lower()

'albert einstein'

In [9]:
name.title()

'Albert Einstein'

In [10]:
month='january'

In [11]:
month.title()

'January'

In [12]:
first_name='Ali'
last_name='Ahmed'
persons_name=first_name+last_name

In [13]:
persons_name

'AliAhmed'

In [14]:
persons_name=first_name+' '+last_name

In [15]:
persons_name

'Ali Ahmed'

## Escape characters

In [18]:
print('Hello\npython')

Hello
python

In [19]:
print('Hello\tPython')

Hello	Python

# Integers and floats

In [20]:
2+2

4

In [21]:
3-2

1

In [22]:
2*2

4

In [23]:
4/2

2.0

In [24]:
num=4/2

In [25]:
num

2.0

In [26]:
type(num)

float

In [27]:
num_int=4//2

In [28]:
type(num_int)

int

In [29]:
num_int

2

In [31]:
ans=4/2.2

In [32]:
type(ans)

float

In [34]:
2**2

4

In [35]:
3**2

9

# Type Casting or Type Conversion

In [52]:
var_1=2.0

In [53]:
type(var_1)

float

In [54]:
int(var_1)

2

In [55]:
var_1

2.0

In [56]:
var_1=int(var_1)

In [57]:
var_1

2

In [58]:
var_2='123'

In [59]:
type(var_2)

str

In [60]:
int(var_2)

123

In [61]:
float(var_2)

123.0

In [62]:
var_2=float(var_2)

In [63]:
var_2

123.0

In [64]:
var_3='123asd'
int(var_3)

ValueError: invalid literal for int() with base 10: '123asd'

# Comments

In [66]:
a=2    #This is a integer datatype